.gallery-box {
    padding: 0;
    border: 1px solid #ddd;
    height: 20rem;    
}

.gallery-box img, .card {
    height: 100%;        
}

.card img {
    height: 15em;
    object-fit: cover;
    min-height: 20rem;
    
}

.image {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}

h1 {
    color: crimson;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
}

p {
    max-height: 3.2em; 
    overflow: hidden;
}

footer div div div p {
    color: white;
}

body {
    background-color: cornsilk;
}

@media (max-width: 768px) {
    body {
        background-color: bisque;
    }
}

@media (max-width: 576px) {
    body {
        background-color: orange; 
    }
}
